# Default options, used by the .devcontainer

# SECURITY WARNING: don't run with the debug turned on in production!
DEBUG=True

# Used to secure django
DJANGO_SECRET_KEY="django-insecure-=5sf8@fhdxzr8(c!%-5xx1!5x6x07$%vc^0rr&$4ljgh&v5!w%"

DJANGO_ALLOWED_HOSTS="AiR_Notes_server.valegreg.com,www.AiR_Notes_server.valegreg.com,localhost,127.0.0.1"
DJANGO_CSRF_TRUSTED_ORIGINS="https://AiR_Notes_server.valegreg.com"
ENFORCE_HTTPS=False

DATABASE_ENGINE=mysql
DATABASE_NAME=AiR_Notes_server
DATABASE_HOST=db
DATABASE_PORT=3306
DATABASE_USERNAME=root
DATABASE_PASSWORD=mysql

PROD=False

# Used to display as comment in the index html on the website
GIT_COMMIT_SHA="local"

# Wether only minimal dependencies for production were included
MINIMAL=False
